@import url('../App.css');

#cardContainer,
#cardContainerNoData {
    width: 669px;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cardContainer);
}


#cardContainerNoData {
    background: none;
}

@media (max-width: 964px) {
    #cardContainer {
        background: none;
    }
}

