@import url('../App.css');


.cityInputContainer {
    position: relative;
    max-width: 431px;
  }
  
  .cityInputLabel {
    padding-left: 2%;
    color: var(--heroText);
    font-size: 16px;
  }
  
  .inputButtonContainer {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .cityInput {
    width: 100%;
    height: 64px;
    border-radius: 10px;
    border: none;
    padding-right: 100px;
    box-sizing: border-box;
    font-size: 22px;
    color: var(--inputText);
    padding-left: 2%;
  }


  
  .cityInputButton {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    height: 36px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background-color: var(--submitBtn);
    color: #fff;
    cursor: pointer;
  }