@import url(../App.css);

#heroContainer {
    width: 480px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: var(--hero);
}

#heroText {
    width: 300px;
    font: 300 30px/44px "Heebo";
    color: var(--heroText);
}

#fintekImg {
    width: 98px;
}