@import url('../App.css');

#weatherCardContainer {
    box-sizing: border-box;
    padding: 50px;
    border-radius: 30px;
    background-color: var(--cardBg);
    width: 65%;
    height: 80%;
    color: #fff;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
}
.weatherItem {
    margin-bottom: 10px; 
}

