@import url('../App.css');

#weatherFooterContainer {
    display: flex;
    justify-content: center;
    width: 324px;
    margin-top: 34px;
    display: flex;
    gap: 1rem;
}

.weatherSnippet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherSnippetPrimary {
    font-weight: 300;
    font: normal normal 300 18px/22px Heebo;
    color: var(--cardTextSecondary);
}

.weatherSnippetSecondary {
    font: normal normal medium 18px/22px Heebo;
}
