#weatherCardContainer {
    box-sizing: border-box;
    padding: 50px;
    border-radius: 30px;
    background-color: var(--cardBg);
    width: 65%;
    max-height: 80vh; 
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow: hidden; 
  }
  
  .weatherItem {
    margin-bottom: 10px;
  }  
  @media (max-width: 964px) {
    #weatherCardContainer {
      width: 100%;
      max-height: 70vh;
      margin-bottom: 20px; 
    }
  }
  