:root {
  --submitBtn: #046B3B;
  --cardBg: #27737D;
  --cardContainer: #DDE4E6;
  --cardText: #E8F1F2;
  --cardTextSecondary: #A8C6CB;
  --bg: #F1F1F1;
  --heroText: #707070;
  --inputText: #363636;
}

@font-face {
  font-family: Heebo;
  src: url('../public/fonts/Heebo-VariableFont_wght.ttf');
}


body {
  font-family: Heebo;
  background-color: var(--bg);
}


#appContainer {
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}