:root{
  --submitBtn: #046B3B;
  --cardBg: #27737D;
  --cardContainer: #DDE4E6;
  --cardText: #E8F1F2;
  --cardTextSecondary: #A8C6CB;
  --bg: #F1F1F1;
  --heroText: #707070;
  --inputText: #363636;
}

